<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--font awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
        <!--fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!--style css-->
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="css/global.css">
        <title>Contact</title>
    </head>
    <body>
        <section class="footer">
            <div class="box-container">
                <div class="box">
                    <i class="fas fa-envelope"></i>
                    <h3>my email</h3>
                    <p>shimaa@gmail.com</p>
                </div>
                <div class="box">
                    <i class="fas fa-clock"></i>
                    <h3>online hours</h3>
                    <p>07:00am to 09:00pm</p>
                </div>
                <div class="box">
                    <i class="fas fa-map-marker-alt"></i>
                    <h3>my location</h3>
                    <p>mumbai, india - 400104</p>
                </div>
                <div class="box">
                    <i class="fas fa-phone"></i>
                    <h3>my number</h3>
                    <p>+123-456-7890</p>
                </div>
            </div>
            <div class="credit"> &copy; copyright @ 2023 by 
                <span>Shimaa Mohamed</span> | all rights reserved! 
            </div>
        </section>
    </body>
</html>